<div class='user-show-content container'>

  <div class='push-5 span-14 display'>
    <h1><%= @user.name %></h1>
    <h5><%= @user.username %></h5>

    <label>Email</label>
    <div class='field'><%= @user.email %></div>
  </div>
</div>
