@import 'variables';

body {
  background-color: $color-orange;
  background-image: url(bird.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right -145px bottom -140px;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  color: $color-white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
