<div class='header-content'>
  <div class='left'>
    <%= link_to image_tag('birdhouse-with-text.png'), lists_path %>
  </div>

  <div class='right'>
    <% if logged_in? %>
      <%= link_to 'Sign Out', signout_path %>
    <% elsif params[:controller] == 'sessions' %>
      <%= link_to 'Sign Up', signup_path %>
    <% else %>
      <%= link_to 'Sign In', signin_path %>
    <% end %>
  </div>
</div>
